src/main/java/config/UserCredentialConfig.java
out/*
.idea/workspace.xml
webpack/node_modules/*
public/dist/*
target/*
.idea/*
src/main/resources/app.properties
test-output/*
src/main/java/config/app.properties
c:/windows/temp/*