package config;
/**
* Template for a user credential config: Required by the Disney.Reservation.Notification.Adapter.MailerAdapter
*/
public final class UserCredentialConfig {
    public static String USERNAME = "emailAccountWeWillSendFrom";
    public static String PASSWORD = "emailAccountPassword";
    public static String RECIPIENT = "phoneNumberWeWillText/Email";

}
